client/node_modules
client/build
client/dist
client/coverage
client/yarn-error.log
client/yarn.lock
client/.awcache
client/.cache

server/bin
server/obj
server/.vs
server/Properties
server/database.db


yarn-error.log