{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    // Allow class decorators for Mobx
    // TODO Refactor code to remove Mobx
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
