{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },

  "parser": "@typescript-eslint/parser",
  "globals": {
    "__PATH_PREFIX__": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],

  "rules": {
    // opinion rule, no need to restrict syntax that works
    "no-restricted-syntax": "off",

    // typescript already checks for undefined vars
    "no-undef": "off",

    //quick fix for https://stackoverflow.com/questions/63818415/react-was-used-before-it-was-defined
    // note you must disable the base rule as it can report incorrect errors
    "@typescript-eslint/no-use-before-define": "off",
    "no-use-before-define": "off",

    // you dont import extensions
    "import/extensions": "off",

    // typescript already handles path resolution
    "import/no-unresolved": "off",

    // devDependencies such as redux devtools are utilized in react app
    "import/no-extraneous-dependencies": "off",

    //allow state reassign, redux state uses immer.js to convert mutations to immutable state changes.
    "no-param-reassign": [
      "error",
      { "ignorePropertyModificationsFor": ["state"] }
    ],

    "@typescript-eslint/no-var-requires": "off",
    "global-require": "off",
    // disabled, all types auto-fix to interface. rule would be redundant.
    "@typescript-eslint/interface-name-prefix": "off",

    // established coding standards in different packages use a different naming convention
    "camelcase": "off",
    "@typescript-eslint/camelcase": "off",

    // allow empty arrow functions for useEffect hooks
    "@typescript-eslint/no-empty-function": [
      "error",
      { "allow": ["arrowFunctions"] }
    ],

    // turning off untill refactoring
    "react/no-array-index-key": "off",

    // redundant with Typescript
    "react/jsx-no-undef": "off",

    // not using defaultProps with typescript/function components
    "react/require-default-props": [0],

    // permit JSX in tsx files
    "react/jsx-filename-extension": ["error", { "extensions": ["tsx"] }],

    // removes prop-types requirement because Typescript
    "react/prop-types": "off",

    // destructuring props is not required, this can malform redux state updates
    "react/destructuring-assignment": "off",

    // why is this needed?
    "react/button-has-type": "off",

    // conflicts with prettier formatting (print limit)
    "react/jsx-one-expression-per-line": "off",

    // not needed, node project supports esnext syntax
    "react/state-in-constructor": "off",

    // TODO convert props spreading warning to error
    "react/jsx-props-no-spreading": "warn",

    "react/function-component-definition": ["off"],

    // not needed for certain React Functions
    "@typescript-eslint/explicit-function-return-type": "off",

    // modified, removes code-bloat accessors in TS React.
    "@typescript-eslint/explicit-member-accessibility": "off",

    // deprecated
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off"
  }
}
